* {
    margin: 0;
    padding: 0;
    font-family: 'Martian Mono', monospace;
}

body {
    background-color: cadetblue;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: firebrick;
    color: azure;
    max-height: 10vh;
    min-height: 10vh;
}

form {
    background-color: transparent;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid cyan;
    width: 100%;
    max-height: 10vh;
    min-height: 10vh;
}


fieldset {
    border: none;
}

fieldset legend {
    margin-bottom: .3rem;
}

fieldset input {
    border: none;
    min-height: 30px;
    min-width: 200px;
}

fieldset button {
    background-color: green;
    border: none;
    color: aliceblue;
    min-height: 30px;
    padding: 5px;
    margin-right: 0;
    min-width: 80px;
}

main {
    display: flex;
    color: aquamarine;
    width: 100%;
    min-height: 70vh;
    max-height: 70vh;
}

aside {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    min-height: 70vh;
    max-height: 70vh;
    border-right: 2px solid fuchsia;
}

aside h4 {
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: cornflowerblue;
    color: brown;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    min-width: auto;
}

aside div {
    display: flex;
    flex-direction: column;
}

aside button {
    background-color: chocolate;
    color: azure;
    padding: 5px;
    margin: 0.25rem;
    min-width: 100%;
    min-height: 30px;
    border: none;
    border-radius: 7px;
}

article {
    /* background: url(../images/background.jpg); */
    background-size: cover;
    color: darkkhaki;
    width: 80vw;
    min-height: 70vh;
    max-height: 70vh;
}

#current-section {
    display: none;
    border: 1px solid black;
    padding: .5rem;
    margin: .5rem;
    background-color: white;
    color: black;
}

#forecast-section {
    display: none;
    border: 1px solid black;
    padding: .5rem;
    margin: .5rem;
    background-color: white;
    color: black;
}

#current-container {
    padding: .5rem;
    margin: .5rem;
}

#current-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-size: 2rem;
}

#current-icon {
    display: flex;
    justify-content: center;
    margin-right: .5rem;
}

#current-top img {
    background-color: skyblue;
}

#forecast-container img {
    background-color: skyblue;
}

#current-bottom {
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
}

#current-bottom div {
    margin: .5rem;
}

article section h2 {
    text-align: center;
}

#time {
    text-align: center;
}

article section ul {
    list-style: none;
}

#forecast-container {
    display: flex;
    justify-content: space-between;
    margin: .5rem;
    background-color: white;
    color: black;
}

#forecast-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: darkcyan;
    color: crimson;
    width: 100%;
    max-height: 10vh;
    min-height: 10vh;
    position: absolute;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}

footer div h3 {

    color: gold;

    font-weight: 400;
}

footer div h3 super {
    font-size: xx-small;
    position: absolute;
}

footer div super {
    font-size: xx-small;
    color: cadetblue;
}

footer img {
    margin-right: 1rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: red;
    background-color: salmon;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}