* {
    padding: 0;
    margin: 0;
    font-family: 'Martian Mono', monospace;
}

body {
    background-color: cadetblue;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: firebrick;
    color: azure;
    height: 10vh;
}

main {
    background-color: transparent;
    height: 83vh;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid yellow;
    padding-bottom: 10px;
}

form {
    margin-top: 10px;
    margin-left: 20px;
}


fieldset {
    border: none;
}

fieldset legend {
    min-height: 20px;
    margin-bottom: .5em;
}

fieldset input {
    border: none;
    min-height: 30px;
    min-width: 200px;
    padding: 5px;
    margin-right: 0;
}

fieldset button {
    background-color: green;
    border: none;
    color: aliceblue;
    min-height: 30px;
    padding: 5px;
    margin-right: 0;
    min-width: 80px;
}

h5 {
    color: darkblue;
    margin-right: 20px;
    font-weight: 300;
}

footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: cadetblue;
    height: 7vh;
}

footer section {
    padding-right: 20px;
}

img {
    height: fit-content;
}